DATABASE_URL="DATABASE_URL"
PORT = "PORT"
EMAIL_USER = "EMAIL_USER"
EMAIL_PASS = "EMAIL_PASS"
FRONTEND_URL = "FRONTEND_URL"
JWT_SECRET = "JWT_SECRET"
NODE_ENV = "NODE_ENV"
ADMIN_CREATION_KEY = "ADMIN_CREATION_KEY"